fastapi
uvicorn[standard]
httpx             # асинхронный HTTP клиент для проксирования
python-dotenv
passlib[bcrypt]
pyjwt               # работа с JWT
slowapi              # rate limiting готовый (или самописный)
pydantic